
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Introuvable</title>
</head>
<body>
    <div> 
        <p>Désolé... Votre client est introuvable !</p>
    </div>
</body>
</html>
