
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trouve</title>
</head>
<body>
    <div> 
        <p>Le client @ViewData["nom"] agé de @ViewData["age"] ans a été trouvé !</p>
    </div>
</body>
</html>
